{% extends 'admin/base_admin.html.twig' %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a href="{{ path('admin_user_list') }}">
                <i class="fa fa-backward"></i> Revenir dans la liste
            </a>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Enregistrer">
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}